@model Intelectah.ViewModel.FabricantesViewModel

<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="NomeFabricante">Nome do fabricante</label>
        <input asp-for="NomeFabricante" class="form-control" placeholder="Informe o nome do fabricante" />
        @Html.ValidationMessageFor(x => x.NomeFabricante)
    </div>
    <div class="form-group col-md-6">
        <label for="PaisOrigem">País de Origem</label>
        @Html.DropDownListFor(model => model.PaisOrigem, Model.OpcaoPaises, "Selecione um país", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PaisOrigem, "", new { @class = "text-danger" })
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label asp-for="AnoFundacao">Ano de fundação</label>
        <input asp-for="AnoFundacao" class="form-control" placeholder="Informe o ano de fundação da fabricante" />
        @Html.ValidationMessageFor(x => x.AnoFundacao)
    </div>
    <div class="form-group col-md-6">
        <label asp-for="URL">URL</label>
        <input asp-for="URL" class="form-control" placeholder="Insira a URL da fabricante" />
        @Html.ValidationMessageFor(x => x.URL)
    </div>
</div>
