@model IEnumerable<Intelectah.ViewModel.VeiculosViewModel>

@{
    ViewData["Title"] = "Veiculos";
}


<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Veiculos" asp-action="Criar">Adicionar novo veículo</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">

            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <b />

    <h1 class="display-4">Lista de veículos</h1>
    <form>
        <table class="table text-center" id="tabela-veiculos">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ano de fabricação</th>
                    <th scope="col">R$</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Tipo de veículo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col"></th>
               
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var veiculo in Model)
                    {
                        <tr> 
                            <td></td>
                            <td>@veiculo.ModeloVeiculo</td>
                            <td>@veiculo.AnoFabricacao</td>
                            <td>@veiculo.ValorVeiculo</td>
                            <td>
                                @veiculo.Fabricantes.FirstOrDefault(f => f.Value == veiculo.FabricanteID.ToString())?.Text
                            </td>
                            <td>@veiculo.Tipo</td>
                            <td>@veiculo.Descricao</td>                          
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" asp-route-id="@veiculo.VeiculoID" asp-controller="Veiculos" asp-action="Editar">Editar</a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@veiculo.VeiculoID" asp-controller="Veiculos" asp-action="ApagarConfirmacao">Apagar</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
</div>


